body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image:url("https://scontent.ffar1-2.fna.fbcdn.net/v/t1.18169-9/250996_258281494277559_964811169_n.jpg?_nc_cat=111&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=c2f564&_nc_ohc=oKyCDupdycEAX-OMbwt&_nc_oc=AQnc10-9KToZctIpQ7KtY0mmQYYe2bqM7QpHvKwEfLN1GEsNWb6lr8D0XElXBaEPEvU&_nc_ht=scontent.ffar1-2.fna&oh=00_AfDz97mV1QHsuuB5w1inTMoMy7AyH2G9wmDciI-cE8Bt3w&oe=65E6462E");
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

h2 {
  margin: 1em auto;
  text-align: center;
}
